/* Global Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
button{
padding: 2rem 6rem;
background: #4c6e97;
border: none;
color: white;
font-size: 1.8rem;
cursor: pointer;
}

/* Index Page Styling */
h1{
    font-size: 2.6rem;
}
 li,button,label,input,p {
    font-size: 2rem;
 }
 h2{
     font-size: 4.8rem;
 }
 h3{
     font-size: 3rem;
 }
 h4,h5{
     font-size: 2.8rem;
 }
 a{
     color: whitesmoke;
     text-decoration: none;
 }
.main-head{
    background: #131c27;
    color: antiquewhite;
}
nav{
    min-height: 10vh;
    padding: 2rem;
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
}
#logo{
    flex: 2 1 40rem;
}
.hero{
    min-height: 90vh;
    background-image: linear-gradient(rgba(0,0,0, 0.5), transparent) ,url("/img/landing-page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero h3{
    padding: 5rem;
}